/*****************************/
/* BELOW 1090px */
/*****************************/
@media (max-width: 68.2em){
  .nav-btn{
    gap: 5rem;
  }
}
/*****************************/
/* BELOW 1008px */
/*****************************/

@media (max-width: 63em) {
  .nav-btn {
    gap: 7rem;
  }
  .img-detail {
    gap: 10rem;
  }
}
/*****************************/
/* BELOW 800px */
/*****************************/
@media(max-width :50em) {
  .fname{
    width: auto;
  }
  .main{
    padding: 4rem 1.1rem;
  }
}